:root{
    --dark-purple: hsl(275, 85%, 13%);
    --green: hsl(150, 100%, 63%);
    --grayish-purple: hsl(271, 12%, 34%);
    --light-purple: hsl(276, 100%, 99%);
    --white: hsl(0, 0%, 100%);

}

@font-face {
    font-family: fraunces;
    src: url('font/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf');
}

@font-face {
    font-family: manrope;
    src: url('font/Manrope-VariableFont_wght.ttf');
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
   overflow-x: hidden; 
}

body h1, body h2, body h3{
    font-family: fraunces;
}

body p, body button {
    font-family: manrope;
}